body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f0f8ff; /* Altera a cor de fundo para um tom agradável */
}

h1 {
  color: #333; /* Cor do texto do título */
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem; 
}

button {
  background-color: #28a745;
  color: white !important; 
  padding: 10px 20px; 
  margin: 10px;
  border: none; 
  border-radius: 8px; 
  font-size: 1rem; 
  font-weight: bold; 
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #218838; 
  transform: scale(1.05);
}


button:active {
  transform: scale(0.98); 
}

button.ocupado {
  background-color: #dc3545 !important;
}

button.ocupado:hover {
  background-color: #c82333 !important;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* Largura total menos o padding */
  box-sizing: border-box;
}

form {
  margin: 20px auto;
  max-width: 300px;
}

#computadores {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  gap: 10px;
  justify-items: center;
}

.computador {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  background-color: #e7f3fe; /* Fundo dos blocos de computadores */
}

.computador img {
  width: 50px; /* Ajusta a largura da imagem */
  height: 50px; /* Ajusta a altura da imagem */
}

.computador span {
  margin-top: 5px;
}

.disponivel {
  color: green;
}

.ocupado {
  color: red;
}

.computador-label {
  font-weight: bold;
}


.status-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.status-box:hover {
  transform: scale(1.05);
}

.status-box img {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.status-box h2 {
  font-size: 1.5rem;
  color: #333;
}

.status-box p {
  font-size: 1.1rem;
  color: green;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 2rem;
}
